﻿@using System.Security.Claims;
@model IEnumerable<Claim>;

<h2>You have no access for resource</h2>
<p>Here is your claims:</p>

@foreach (var claim in Model)
    {
        <div>
            <p>Type: @claim.Type</p>
            <p>Value: @claim.Value</p>
        </div>
    }