﻿@model WebApplication1.Models.ViewModels.LoginViewModel
@using WebApplication1.Controllers;

<div class="row">
    <div class="col-md-4">
            <section>
        @using (Html.BeginForm(nameof(AccountController.Login), "Account", new { returnUrl = Model.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBox(nameof(Model.Email))
                <span asp-validation-for=" Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.TextBox(nameof(Model.Password))
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    @Html.LabelFor(m => m.RememberMe)
                    @Html.CheckBoxFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        }
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

