﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Adult">Adult</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Employee">Employee</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Authorized">Authorized</a>
        </li>
    </ul>
</div>
