﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Content for company employee</h1>
<p>You are employee of this company so you can walk around and do some business</p>